* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  list-style: none;
}

body {
  background-image: url('../public/images/background.png');
  background-color: #170F43;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  color: #F4F4F4;
}

.gridTemplate {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.loginRegisterModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 500px;
  width: 500px;
  background: rgb(22, 22, 22);
  background: linear-gradient(340deg, rgba(44, 44, 44, 1) 0%, rgba(44, 44, 44, 1) 60%, rgb(63, 63, 65) 100%);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.formContainer {
  display: flex;
  flex-direction: row;
}

.leftFormContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 225px;
  height: 100%;
}

.rightFormContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 225px;
  height: 100%;
}

.formModalTitle {
  font-size: 24px;
  font-weight: 600;
  margin: 20px 0;
}

.inputContainer {
  width: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #23232329;
}

.inputContainer input {
  width: calc(100% - 20px);
  border: none;
  border-bottom: 2px solid #5e5e5e;
  background: transparent;
  margin-bottom: 10px;
  color: #F4F4F4;
  caret-color: #F4F4F4;
  height: 30px;
  transition: ease-in-out 0.2s;
}

.inputContainer input:focus {
  border-bottom: 2px solid #EEAE0A;
}

.inputContainer input[type="file"] {
  border: none;
  height: 80px;
}

.inputContainer input[type="file"]::file-selector-button {
  background: rgb(22, 22, 22);
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 10px;
  border: none;
  color: #F4F4F4;
}

.inputContainer input:focus {
  outline: none;
}

.inputContainer select {
  width: calc(100% - 20px);
  border-radius: 5px;
  padding: 5px;
  border: none;
  background: rgb(22, 22, 22);
  margin-bottom: 10px;
  color: #F4F4F4;
  caret-color: #F4F4F4;
}

.btnContainer {
  text-align: center;
}

.btnContainer button {
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 20px;
  margin: 20px 5px 0;
  border-radius: 10px;
  border: none;
  background-color: #EEAE0A;
}

.btnContainer .cancelBtn {
  background-color: #5e5e5e;
}

.btnContainerAdmin button {
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 20px;
  border-radius: 10px;
  border: none;
  background-color: #EEAE0A;
}

.btnContainerAdmin .cancelBtn {
  background-color: #5e5e5e;
}

.btnContainerAdmin .addBtn {
  background: linear-gradient(135deg, rgba(32,104,95,1) 0%, rgba(79,47,148,1) 50%, rgba(197,162,40,1) 100%);
  color: #F4F4F4;
  font-weight: 700;
}

.imgFormPreview {
  width: 100px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 10px;
}

.sidebarContainer {
  grid-area: 1 / 1 / 7 / 2;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}

.sidebarTitle {
  margin-top: 40px;
  font-size: 16px;
  font-weight: 600;
  color: #C2C2C2;
}

.sidebarNav {
  width: 230px;
  margin: 0 auto;
}

.mediaPlayerContainer {
  grid-area: 4 / 3 / 6 / 3;
  background-color: rgba(0, 0, 0, 0.3);
  margin-right: 20px;
  border-radius: 10px;
}

.userIconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.usernameContainer {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 700;
}

.iconContainer {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(135deg, rgba(32,104,95,1) 0%, rgba(79,47,148,1) 50%, rgba(197,162,40,1) 100%);
}

/* .iconContainer::before {
  content: '';
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
} */

.iconContainer img {
  height: 92px;
  width: 92px;
  object-fit: cover;
  border-radius: 50%;
  background-color: #14223D;
}

.homeList1Container {
  background: rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 30px;
}

.homeList1Container:first-child {
  margin-top: 20px;
}

.titleListContainer {
  margin-bottom: 30px;
}

.titleListContainerAdmin {
  display: flex;
  justify-content: space-between;
}

.playlistsContainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  min-width: 350px;
}

.playlistsContainer a {
  text-decoration: none;
  color: #F4F4F4;
  &:hover {
    cursor: pointer;
  }
}

.oneCardContainer {
  transition: ease-in-out 0.2s;
  border-radius: 20px;
}

.oneCardContainer:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.textList1Container {
  margin-top: 8px;
  padding: 0px 15px 10px;
}

.textList1Container h3 {
  font-size: 16px;
  font-weight: 500;
}

.textList1Container h3:nth-child(2) {
  margin-top: 2px;
  font-size: 16px;
  font-weight: 300;
}

.imgList1Container {
  width: 100%;
  max-width: 180px;
  background-size: cover;
  padding: 10px 10px 0;
}

.imgList1Container img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  aspect-ratio: 1/1;
}

.sidebar1Component {
  filter: grayscale(70%);
  opacity: 0.7;
  width: calc(100% - 20px);
  height: 70px;
  margin: 10px 0;
  padding: 10px;
  background: transparent;
  border-radius: 15px;
  transition: ease-in-out 0.1s;
  font-size: 20px;
}

.sidebar1Component h3 {
  font-size: 16px;
  font-weight: 500;
}

.sidebar1Component a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #F4F4F4;
}

.sidebar1Component:active {
  background: linear-gradient(135deg, rgba(32,104,95,1) 0%, rgba(79,47,148,1) 50%, rgba(197,162,40,1) 100%);
}

.sidebar1Component:hover, .sidebar1Component:active {
  opacity: 1;
  background: rgba(255, 255, 255, 0.1);
  filter: grayscale(0%);
}

.sidebar1Component img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 10px;
  object-fit: cover;
}

.sidebar1Component a .sidebarIconContainer {
  height: 50px;
  width: 50px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: #a0a0a0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pageContainer {
  grid-area: 1 / 2 / 7 / 3;
  height: 100vh;
  display: flex;
  flex-flow: column;
  row-gap: 20px;
}

.mainTitle {
  margin: 50px 0 20px 50px;
  margin-top: 50px;
  margin-left: 50px;
  font-size: 40px;
}

.show1PlaylistOrAlbumHeader {
  display: flex;
  margin-top: 30px;
}

.show1PlaylistOrAlbumImage {
  margin-left: 30px;
  width: 240px;
  aspect-ratio: 1/1;
  max-width: 240px;
  background-size: cover;
}

.show1PlaylistOrAlbumImage img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.show1PlaylistOrImageText {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 40px;
  letter-spacing: 1px;
}

.show1PlaylistOrImageText h3 {
  font-weight: 400;
  font-size: 16px;
}

.show1PlaylistOrImageText h2 {
  font-weight: 800;
  font-size: 24px;
}

.show1PlaylistOrAlbumIcons {
  display: flex;
}

.formModalContainer {
  grid-area: 1 / 2 / 7 / 3;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trackPlaylistRow {
  display: grid;
  grid-template-columns: 1fr 5fr 5fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.trackPlaylistHeader {
  display: grid;
  grid-template-columns: 1fr 5fr 5fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin-bottom: 10px;
}

.trackPlaylistHeader .trackPlaylistCell {
  font-weight: 600;
}

.trackPlaylistCell {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 50px;
  font-weight: 300;
}

.trackPlaylistCell:nth-child(1) {
  text-align: center;
  padding-left: 10px;
}

.trackPlaylistCell:nth-child(4) {
  text-align: end;
  width: 90px;
}

.trackPlaylistCell:nth-child(5) {
  display: flex;
  align-items: center;
}

.trackPlaylistTitle {
  font-weight: 600;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  white-space: unset;
  word-break: break-all;
  overflow: hidden;
}

.iconContainerHeader {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  border-radius: 8px;
  background: rgb(104, 32, 32);
  width: 32px;
  height: 32px;
  transition: ease-in-out 0.2s;
  margin-right: 10px;
  &:hover {
    background: rgb(175, 54, 54);
    cursor: pointer;
  }
}