* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  list-style: none;
}

body {
  background-image: url('../public/images/background.png');
  background-color: #170F43;
  background-size: cover;
  background-position: bottom;
  color: #F4F4F4;
}

.gridTemplate {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loginRegisterModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 500px;
  width: 500px;
  background: rgb(22, 22, 22);
  background: linear-gradient(340deg, rgba(44, 44, 44, 1) 0%, rgba(44, 44, 44, 1) 60%, rgb(63, 63, 65) 100%);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.formContainer {
  display: flex;
  flex-direction: row;
}

.leftFormContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 225px;
  height: 100%;
}

.rightFormContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 225px;
  height: 100%;
}

.formModalTitle {
  font-size: 24px;
  font-weight: 600;
  margin: 20px 0;
}

.inputContainer {
  width: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #23232329;
}

.inputContainer input {
  width: calc(100% - 20px);
  border: none;
  border-bottom: 2px solid #5e5e5e;
  background: transparent;
  margin-bottom: 10px;
  color: #F4F4F4;
  caret-color: #F4F4F4;
  height: 30px;
  transition: ease-in-out 0.2s;
}

.inputContainer input:focus {
  border-bottom: 2px solid #EEAE0A;
}

.inputContainer input[type="file"] {
  border: none;
  margin-bottom: 10px;
  color: #F4F4F4;
}

.inputContainer input[type="file"]::file-selector-button {
  background: rgb(22, 22, 22);
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 10px;
  border: none;
  color: #F4F4F4;
}

.inputContainer input:focus {
  outline: none;
}

.inputContainer select {
  width: calc(100% - 20px);
  border-radius: 5px;
  padding: 5px;
  border: none;
  background: rgb(22, 22, 22);
  margin-bottom: 10px;
  color: #F4F4F4;
  caret-color: #F4F4F4;
}

.btnContainer {
  text-align: center;
  margin-bottom: 30px;
}

.btnContainer button {
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  padding: 5px 20px;
  margin-top: 20px;
  border-radius: 10px;
  border: none;
  background-color: #EEAE0A;
}

.sidebarContainer {
  grid-area: 1 / 1 / 7 / 2;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}

.sidebarTitle {
  margin-top: 40px;
  font-size: 16px;
  font-weight: 600;
  color: #C2C2C2;
}

.sidebarNav {
  width: 230px;
  margin: 0 auto;
}

.sideBar1Component {
  filter: grayscale(70%);
  opacity: 0.7;
  width: 100%;
  height: 80px;
  margin: 10px 0;
  padding: 10px;
  background: transparent;
  border-radius: 15px;
  transition: ease-in-out 0.1s;
}

.sideBar1Component a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #F4F4F4;
}

.sideBar1Component:hover {
  opacity: 1;
  background: rgba(255, 255, 255, 0.1);
  filter: grayscale(0%);
}

.sideBar1Component img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  border-radius: 10px;
  object-fit: cover;
}

.pageContainer {
  grid-area: 1 / 2 / 7 / 3;
  height: 100vh;
}

.formModalContainer {
  grid-area: 1 / 2 / 7 / 3;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .pulse {
  width: 190px;
  margin: 0 auto;
  animation: pulse 3s infinite;
}

@keyframes pulse {
  0% {
    font-variation-settings: 'wght' 100;
  }

  50% {
    font-variation-settings: 'wght' 700;
  }

  100% {
    font-variation-settings: 'wght' 100;
  }
} */