<div class="loginForm">
    <h1 class="titleApp">Piguisfy</h1>
    <form action="/login" method="post" (ngSubmit)="onSubmit()">
        <div class="inputContainer">
            icon @
            <input class="" type="email" formControlName="email" placeholder="Email" required>
        </div>
        <div class="inputContainer">
            icon cadenas
            <input class="" type="password" formControlName="password" placeholder="Password" required>
            oeil
        </div>
        <div class="btnLogin">
            <input class="submitBtn" type="submit" value="Login">
            <a href="/register">No account? Sign up!</a>
        </div>
    </form>
</div>
